/* Generic pane rules */
.panelrow, .panelcol { overflow: hidden; position: absolute; }
.panelrow { left: 0; right: 0; }
.panelcol { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

/* Bootstrap overrides */
.row-fluid.panelrow { 
	.offsetX-panelrow (@index) when (@index > 0) {
      (~'.offset@{index}') { .offset-panelrow(@index); }
      .offsetX-panelrow(@index - 1);
    }
    
    .offsetX-panelrow (0) {}

    .offset-panelrow (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth);
      *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
    }
	.offsetX-panelrow(@gridColumns);
}


